!!!  
%html  
  %head  
    %title Shootout game
  %body  
    %h1 Now playing
    
    .shoot
      - if not @game.ended?
        %a{:href=>''} Shoot

    %p
      Player score:
      =@game.human.score
    %p
      Computer score:
      =@game.computer.score

    - if @game.ended?
      %p{:style=> "color:greed"} GAME ENDED!

    .log
      %ul
        - for string in @game.log
          %li=string